page-home {
  background-color: "black",
}
.menu-button {
  background-color: #273142;
  height:40px;
}
.notifications {
  right:10px;
  color:white;

}
.row {
  color:white;
}
.toolbar-title {
  color:white;
}
.menu {
  left: 10px;
  color:white;
}
.page-title {
  padding-left: 10px;
}
#notifications-badge {
          background-color: #ff8a7d;
          position: absolute;
          top: -3px;
          right: -3px;
          border-radius: 100%;
      }
