<!-- Generated template for the TimelineComponent component -->
<ion-row >
  <ion-col col-2  >
    <div style="align-self:end;text-align:end">
      <div class="date">
      {{date}}
      </div>
      <div class="time">{{time}} </div>
    </div>
  </ion-col>
  <ion-col col-1 class="my-col-1">
    <div class="line"> &nbsp;</div>
    <ion-icon name="radio-button-on"
              style="color:#d8d8d8;"></ion-icon>
    <div class="line"> &nbsp;</div>

  </ion-col>
  <ion-col col-9 class="event">
    {{event}}
  </ion-col>
</ion-row>
